body {
  background-image: url("https://i.pinimg.com/originals/5d/22/93/5d2293932350ec891f9f8ba06df55367.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

h1, form {
  text-align: center;
  margin: 200px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}